 /* non selection code
 /*   -webkit-user-select: none; /* Safari */        
 /*   -moz-user-select: none; /* Firefox */
 /*   -ms-user-select: none; /* IE10+/Edge */
 /*   user-select: none; /* Standard */

.square{
    height: 90px;
    width: 90px;
    background-color: royalblue;
    margin: 10px;
    float: left;
    border-radius: 30px;
}

#altColor{
    background-color: seagreen;
}